{% extends 'layouts/base-auth.html' %}
{% load static %}
{% load static socialaccount %}
{% get_providers as socialaccount_providers %}

{% block content %}

    <div class="auth-wrapper">
        <div class="auth-content">
            <div class="auth-bg">
                <span class="r"></span>
                <span class="r s"></span>
                <span class="r s"></span>
                <span class="r"></span>
            </div>
            <div class="card">
                <div class="card-body text-center">
                    <form method="post" class="">
                        {% csrf_token %}

                        <div class="mb-4">
                            <i class="feather icon-unlock auth-icon"></i>
                        </div>
                        <h3 class="mb-4">Login</h3>
                        {% if form.non_field_errors %}
                            {% for error in form.non_field_errors %}
                                <span class="text-danger d-block my-3">{{ error }}</span>
                            {% endfor %}
                        {% endif %}
                        {% for field in form %}
                        <div class="input-group mb-3">
                            {{ field }}
                        </div>
                        {% endfor %}
                        <div class="form-group text-left mt-4">
                            <div class="checkbox checkbox-fill d-inline">
                                <input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1" checked="">
                                <label for="checkbox-fill-a1" class="cr"> Save Details</label>
                            </div>
                        </div>
                        <button class="btn btn-primary shadow-2 mb-3">Login</button>
                    </form>
                    <form class="mb-3" action="{% provider_login_url 'github' %}" method="post" >
                        {% csrf_token %}
                        
                        <button type="submit" class="btn btn-outline-primary" href="#">
                            <i class="fab fa-github mr-0"></i>
                            Login with github
                        </button>
                    </form>
                    <p class="mb-2 text-muted">Forgot password? <a href="{% url 'password_reset' %}">Reset</a></p>
                    <p class="mb-0 text-muted">Don’t have an account? <a href="{% url 'register' %}">Signup</a></p>
                </div>
            </div>
        </div>
    </div>

    <label class="d-none">
        <i class="icon feather icon-sun" id="theme-indicator"></i>
        <input type="checkbox" id="theme-switch" class="d-none">
    </label>

{% endblock content %}